@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<aside id="sidebar-wrapper">
    <div class="sidebar-brand">
        <a href="index.html">
            <span class="logo-name">Traversal</span>
        </a>

    </div>
    <ul class="sidebar-menu">
        <li class="menu-header">Main</li>
        <li class="dropdown active">
            <a href="@Url.Action("Index", "Dashbord", new { area = "Admin" })" class="nav-link"><i data-feather="monitor"></i><span>Dashboard</span></a>
        </li>
        <li class="dropdown">
            <a href="#" class="menu-toggle nav-link has-dropdown">
                <i data-feather="briefcase"></i><span>Reservation</span>
            </a>

            <ul class="dropdown-menu">
                <li>
                    <a class="nav-link" href="@Url.Action("GetReservations", "Reservation", new { area = "Member" })">
                        Ausstehende
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="@Url.Action("AcceptedReservations", "Reservation", new { area = "Member" })">
                        bestätigte
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="@Url.Action("CanceledReservations", "Reservation", new { area = "Member" })">
                        stornierte
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="@Url.Action("Index", "Destiniton", new { area = "Default" })">
                        Neue
                    </a>
                </li>
            </ul>
        
       
            <a class="nav-link" href="@Url.Action("Index", "Destination", new { area = "Admin" })">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg><span>
                    Reise Ziel
                </span>
            </a>
            <a class="nav-link" href="@Url.Action("Index", "Comment", new { area = "Admin" })">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                     viewBox="0 0 24 24" fill="none" stroke="currentColor"
                     stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-message-square">
                    <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path>
                </svg>
                <span>
                    Kommentare
                </span>
            </a>
            <a class="nav-link" href="@Url.Action("Index", "User", new { area = "Admin" })">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                     viewBox="0 0 24 24" fill="none" stroke="currentColor"
                     stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-user">
                    <path d="M20 21v-2a4 4 0 0 0-3-3.87"></path>
                    <path d="M4 21v-2a4 4 0 0 1 3-3.87"></path>
                    <path d="M12 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8z"></path>
                </svg>
                <span>
                    Users
                </span>
            </a>

    </ul>
</aside>