@{
    ViewData["Title"] = "Kommentare";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
@model X.PagedList.IPagedList<TraversalCoreProje.Areas.Admin.Models.CommentWithDestinationundUserModel>
@using X.PagedList.Mvc.Core
@using X.PagedList

<section class="section">
    <div class="section-body">
        <div class="col-12 col-sm-12 col-lg-12">
            <div class="card profile-widget">
                <div class="profile-widget-header">
                    <img alt="Bild" src="@ViewBag.UserImage" class="rounded-circle profile-widget-picture">
                    <div class="profile-widget-items">
                        <div class="profile-widget-item">
                            <div class="profile-widget-item-label">Anzahl der Kommentare</div>
                            <div class="profile-widget-item-value">@(ViewBag.CountComment ?? 0)</div>
                        </div>
                        <div class="profile-widget-item">
                            <div class="profile-widget-item-label">Anzahl der Reservierungen</div>
                            <div class="profile-widget-item-value">@(ViewBag.ReservationCount ?? 0)</div>
                        </div>
                        <div class="profile-widget-item">
                            <div class="profile-widget-item-label">Ich folge</div>
                            <div class="profile-widget-item-value">3,7K</div>
                        </div>
                    </div>
                </div>
                <div class="profile-widget-description pb-5">
                    <div class="profile-widget-name">
                        @ViewBag.UserName <div class="text-muted d-inline font-weight-normal"></div>
                    </div>

                    <br />
                    @if (Model.Count == 0)
                    {
                        <h3>Der Benutzer hat noch keinen Kommentar geschrieben</h3>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-12 col-sm-12 col-lg-6">
                                @foreach (var item in Model.Take(3))
                                {
                                    if (item != null)
                                    {
                                        <div class="card author-box card-primary">
                                            <div class="card-body">
                                                <div class="author-box-left">
                                                    <img alt="Bild" src="@item.DesImage" class="rounded-circle author-box-picture">
                                                    <div class="clearfix"></div>
                                                    <a href="/Destiniton/Destiniton/@item.DestinationID" class="btn btn-primary mt-3 follow-btn">Ansehen</a>
                                                </div>
                                                <div class="author-box-details">
                                                    <div class="author-box-name">
                                                        <a href="#">@item.UserName</a>
                                                    </div>
                                                    <div class="author-box-job">@item.DesCity</div>
                                                    <div class="author-box-description">
                                                        <p>@item.CommentContent</p>
                                                    </div>
                                                    <div class="float-right mt-sm-0 mt-3"></div>
                                                    <a href="@Url.Action("DelateComment", "User", new { area = "Admin", idc = item.id, id = item.UserID })" class="btn">
                                                        Löschen <i class="fas fa-chevron-right"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }




                            </div>
                            <div class="col-12 col-sm-12 col-lg-6">
                                @foreach (var item in Model.Skip(3))
                                {
                                    if (item != null)
                                    {
                                        <div class="card author-box card-primary">
                                            <div class="card-body">
                                                <div class="author-box-left">
                                                    <img alt="Bild" src="@item.DesImage" class="rounded-circle author-box-picture">
                                                    <div class="clearfix"></div>
                                                    <a href="/Default/Destinion/Destinion/@item.DestinationID" class="btn btn-primary mt-3 follow-btn">Ansehen</a>
                                                </div>
                                                <div class="author-box-details">
                                                    <div class="author-box-name">
                                                        <a href="#">@item.UserName @item.UserSurname</a>
                                                    </div>
                                                    <div class="author-box-job">@item.DesCity</div>
                                                    <div class="author-box-description">
                                                        <p>@item.CommentContent</p>
                                                    </div>
                                                    <div class="w-100 d-sm-none"></div>
                                                    <div class="float-right mt-sm-0 mt-3">
                                                        <a href="@Url.Action("DelateComment", "User", new { area = "Admin", idc = item.id, id = item.UserID })" class="btn">
                                                            Löschen <i class="fas fa-chevron-right"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-sm-12 col-lg-12">
                                <nav aria-label="Seitennavigation">
                                    <ul class="pagination justify-content-center">
                                        @if (Model.HasPreviousPage)
                                        {
                                            <li class="page-item">
                                                <a class="page-link" href="@Url.Action("Comments", new { page = Model.PageNumber - 1 })">← Zurück</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#">← Zurück</a>
                                            </li>
                                        }

                                        @for (var i = 1; i <= Model.PageCount; i++)
                                        {
                                            <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                                                <a class="page-link" href="@Url.Action("Comments", new { page = i })">@i</a>
                                            </li>
                                        }

                                        @if (Model.HasNextPage)
                                        {
                                            <li class="page-item">
                                                <a class="page-link" href="@Url.Action("Comments", new { page = Model.PageNumber + 1 })">Weiter →</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#">Weiter →</a>
                                            </li>
                                        }
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>