@model TraversalCoreProje.Areas.Member.Models.ReservationModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Member/Views/UserLayout.cshtml";
}
@{
    int i;

}
<h1>@ViewBag.dencity</h1>
<section class="section">
    <div class="section-body">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Reservasion yapin</h4>
                        <span class="text-danger" id="khata"></span>
                    </div>
                    <div class="card-body">
                        <div id="wizard_horizontal">

                            <h2>Kac kisi olacaksiniz?</h2>
                            <section>
                                <div class="form-group">
                                    <label></label>
                                    <select id="kk" class="form-control" required>
                                        @for (i = 0; i < 100; i++)
                                        {
                                            <option>@i</option>

                                        }
                                    </select>
                                    <span class="text-danger" id="khat"></span>
                                </div>


                            </section>
                            <h2>Gidis Trihi</h2>
                            <section>
                                <div class="form-group">
                                    <label></label>
                                    <input id="gt" type="date" class="form-control" required>
                                    <span class="text-danger" id="khat1"></span>
                                </div>

                            </section>
                            <h2>Donus tarihi</h2>
                            <section>
                                <div class="form-group">
                                    <label></label>
                                    <input type="date" id="dt" class="form-control" required>
                                    <span class="text-danger" id="khat2"></span>
                                </div>
                            </section>
                            <h2>Eklemek istediklerin</h2>
                            <section>
                                <div class="form-group">
                                    <label></label>
                                    <textarea id="ei" class="form-control" placeholder="Eklemek istedikleriniz" required></textarea>
                                    <span class="text-danger" id="khat3"></span>
                                </div>
                                <span class="text-danger-all" id="dan"></span>
                              
                            </section>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>
<form id="reservationForm" method="post" asp-area="Member" asp-controller="Reservation" asp-action="AddReservation">
    <!-- Hidden inputs -->
    <input type="hidden" asp-for="HowmanyPapel" id="HowmanyPapel" />
    <input type="hidden" asp-for="ReservStart" id="ReservStart" />
    <input type="hidden" asp-for="ReservEnd" id="ReservEnd" />
    <input type="hidden" id="Notes" />
    <input type="hidden" asp-for="Userid" id="Userid" value="@ViewBag.userid" />
    <input type="hidden" asp-for="Destintionid" id="Destintionid" value="@ViewBag.desid" />
    <input type="hidden" asp-for="Guidid" id="Guidid" value="@ViewBag.guidid" />
    <input type="hidden" asp-for="status" id="status" value="onay bekleniyor" />

    <div class="card-footer text-right">
        <button type="button" id="btn" class="btn btn-primary mr-1">Reservasyon Başlat</button>
    </div>
</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    $("#btn").click(function () {
        // Formdaki değerleri al
        var kk = $("#kk").val();
        var gt = $("#gt").val();
        var dt = $("#dt").val();
        var ei = $("#ei").val();


        if (kk === "" || gt === "" || dt === "" || ei === "") {
            $("#khata").text("Tüm alanları doldurun!");
            setTimeout(function () {
                $("#khata").text(""); 
            }, 4000);
            $("#khat").text("*");
            $("#khat1").text("*");
            $("#khat2").text("*");
            $("#khat3").text("*");          
            return;
        }
        // Hidden inputlara değerleri set et
        $("#HowmanyPapel").val(kk);
        $("#ReservStart").val(gt);
        $("#ReservEnd").val(dt);
        $("#Notes").val(ei);

        // Formu submit et
        $("#reservationForm").submit();
    });

</script>






