@using EntityLayer.Concrate
@model Destiniton
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<p class="alphabet mb-4">
    <span class="big-letter"></span>@Model.Title1
</p>
<p class="mb-4">
    @Model.Detail1
</p>
@if (Model.Detail2 != "")
{

    <blockquote class="blockquote my-5">
        <div class="icon-quote"><span class="fa fa-quote-left" aria-hidden="true"></span></div>
        @Model.Detail2
        <footer class="blockquote-footer mt-3">
        </footer>
    </blockquote>
}
<h3 class="blog-desc-big m-0 mb-4">@Model.Title3</h3>
<p class="mb-4">
    @Model.Detail3
</p>
<p class="mb-4">

</p>
<p class="mb-4">

</p>
<div class="sing-post-thumb mb-5 row pt-3">
    <div class="col-sm-6">
        <a href="#url"><img src="@Model.Image2" class="img-fluid radius-image" alt=""></a>
    </div>
    <div class="col-sm-6 mt-sm-0 mt-3">
        <a href="#url"><img src="@Model.Image3" class="img-fluid radius-image" alt=""></a>
    </div>
</div>
<h3 class="blog-desc-big m-0 mb-lg-4 mb-3"> @Model.Title4</h3>
<p class="mb-4">
    @Model.Detail4
</p>

<p class="mb-4">

</p>
<p class="mb-4">

</p>

<h3 class="blog-desc-big m-0 mt-5 mb-4">@Model.Title5</h3>
<p class="mb-4"></p>
<p class="mb-4">
    @Model.Detail5
</p>