@model List<TraversalCoreProje.Areas.Admin.Models.CommentWithDestinationundUserModel>

<div class="card-header">
    <h4>Kommentare</h4>
</div>

@foreach (var item in Model)
{
    <div class="card-body">
        <div class="support-ticket media pb-1 mb-3">
            <img src="@item.UserImage" class="user-img mr-2" alt="Benutzerbild">
            <div class="media-body ml-3">
                @if (item.status)
                {
                    <div class="badge badge-pill badge-success mb-1 float-right">Aktiv</div>
                }
                else
                {
                    <div class="badge badge-pill badge-danger mb-1 float-right">Inaktiv</div>
                }
                <span class="font-weight-bold">#@item.id</span>
                <a href="@Url.Action("Destiniton", "Destiniton", new { area = "Default", id = item.DestinationID })">@item.DesCity</a>
                <p class="my-1">@item.CommentContent</p>
                <small class="text-muted">
                    Erstellt von <span class="font-weight-bold font-13">
                        @item.CommentUser
                    </span>
                    &nbsp;&nbsp; @item.CommentData.ToShortDateString()
                </small>
            </div>
        </div>
    </div>
}