@model List<Reservition>
@*
    Weitere Informationen zur Aktivierung von MVC für leere Projekte finden Sie unter http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int i = 0;
}
<div class="col-md-6 col-lg-12 col-xl-6">
    <div class="card">
        <div class="card-header">
            <h4>Reservations</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover mb-0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Kundenname</th>
                            <th>Datum</th>
                            <th>Status</th>
                            <th>Stadt</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            @foreach (var item in Model)
                            {
                                if (i < 11)
                                {
                                    <tr>
                                        <td>@item.id</td>
                                        <td>@item.Username </td>
                                        <td>@item.ReservDate.ToShortDateString()</td>
                                        @if (item.status == "Die Buchung ist bestätigt.")
                                        {
                                            <td> <div class="badge badge-pill badge-success mb-1 float-right">@item.status</div></td>
                                        }
                                        else if (item.status == "Ihre Genehmigung ist ausstehend.")
                                        {
                                            <td> <div class="badge badge-pill badge-primary mb-1 float-right">@item.status</div></td>
                                        }
                                        else if (item.status == "Storniert")
                                        {
                                            <td> <div class="badge badge-pill badge-danger mb-1 float-right">@item.status</div></td>
                                        }
                                        <td>@item.Destiniton.City</td>
                                    </tr>
                                    i++;
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>